[package]
name = "cargo-registry"
version = "0.1.0"
authors = ["Daniel Eades <danieleades@hotmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = {version = "1.0.104", features =["derive"] }
url = { version = "2.1.1", features = ["serde"] }
semver = { version = "0.9.0", features = ["serde"] }
serde_json = "1.0.45"
async-std = "1.4.0"
thiserror = "1.0.10"

[dev-dependencies]
test-case = "1.0.0"
